* {
    font-family: 'Open Sans', sans-serif;
}

/* common styles */
.text-basic {
    color: #FD6E0A;
}

.btn-basic {
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: #fff;
    padding: 18px 35px;

}

/* nav bar styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 180px;

}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav a {
    text-decoration: none;
    color: #474747;

}

nav li {
    list-style: none;
    margin-right: 50px;


}

/* header css styles */


#header {
    background: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, top left;


}


.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;


}

.banner .profile-pic {
    width: 500px;
}

.contact {
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    background-color: #fff;
}

.banner-container {
    max-width: 585px;
    padding: 0;
}

.banner-hi {
    margin-bottom: 0px;
    color: #474747;
    font-size: 45px;
}

.banner-title {
    margin-top: 5px;
    font-size: 85px;
    color: #181818;
    margin-bottom: 0px;
}

.banner-description {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #757575;
    width: 585px;
    margin-top: 2px;
}

/* main sections styles */
.section-info {
    display: flex;
    list-style: none;



}

.section-info li {
    margin-right: 50px;
    color: #757575;
    text-align: center;
    font-size: 20px;

}

main {
    width: 1140px;
    margin: 230px auto;
    text-align: center;
}

main section {
    margin-top: 130px;
}

/* about section style */
.about {

    border-radius: 10px;
    background: #FFF8F3;
    text-align: center;

}

.section-title {
    color: #181818;
    font-size: 35px;
}

.section-description {
    color: #757575;
    font-size: 18px;
    padding: 30px 0px;

}

#what-i-do {
    padding: 30px 150px;
}

.skill-container {
    display: flex;
    text-align: left;

}

.skill {
    padding: 30px;
    gap: 24px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description {
    color: #757575;
    font-size: 16px;

}

/* resume styles */
.resume-exp-title {
    color: #474747;
    font-size: 30px;
}

.resume-container {
    display: flex;
    gap: 50px;


}

.resume-parts-title {
    color: #474747;
    font-size: 25px;
}

.resume-parts-info {
    color: #757575;
    font-size: 20px;
}

.resume-description {
    color: #757575;
    font-size: 16px;
}

.download-cv {
    margin-top: 50px;
}

footer {
    display: flex;
    background: #FFF8F3;
    padding: 130px 200px;
    gap: 100px;
}

.footer-description {
    color: #474747;
    font-size: 16px;
}

.footer-column {
    width: 50%;
}

.social-links a {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 25px;
}

form {
    display: flex;
    flex-direction: column;
    
    
}

.btn-submit {
    width: 150px;
    height: 64px;
    flex-shrink: 0;
}
input, textarea{
    margin-bottom: 25px;
    border-radius: 5px;
    background: var(--white-color, #FFF);
    border: none;
    padding: 18px 350px 18px 30px;
}